<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>My Camp</h1>
    <ul>
        <% let i=1;for (camp of camps) {%>
            <li># <%=i%></li>
            <li><b><a href="/<%=camp.title%>"><%=camp.title%></a></b></li>
            <li>place:<%=camp.price%></li>
            <li>description:<%=camp.description%></li>
            <li>location:<%=camp.location%></li>
            <hr>
        <% i++} %>
    </ul>
</body>
</html>