<% layout('./layouts/boilerplate')%>
    <div class="row">
        <div class="col-6 offset-3">
            <h1 class="text-center">edit the camp</h1>
            <form action="/campgrounds/<%= camp.id %>?_method=PUT" method="POST" class="needs-validation" enctype="multipart/form-data" novalidate>
                <!-- novalidate to suppress the default validation-->
                <label class="form-label mt-3" for="title">Title</label>
                <input class="form-control border-dark-subtle" type="text" id="title" name="campground[title]"
                    value="<%= camp.title %>" required>
                <div class="invalid-feedback">
                    required
                </div>

                <label class="form-label mt-3" for="price">Price</label>
                <div class="input-group mb-3">
                    <span class="input-group-text border-dark-subtle">$</span>
                    <input type="text" class="form-control border-dark-subtle" id="price" name="campground[price]"
                        value="<%= camp.price %>" required>
                        <div class="invalid-feedback">
                            required
                        </div>
                </div>

                <label class="form-label mt-3" for="description">Description</label>
                <div class="form-floating">
                    <textarea class="form-control border-dark-subtle" id="description" name="campground[description]" required><%= camp.description %></textarea>
                    <div class="invalid-feedback">
                        required
                    </div>
                </div>

                <label class="form-label mt-3" for="location">Location</label>
                <input class="form-control border-dark-subtle" type="text" id="location" name="campground[location]"
                    value="<%= camp.location %>" required>
                <div class="invalid-feedback">
                    required
                </div>

                <div>
                    <label class="form-label mt-3" for="imageUpload">Image Upload Files (max:5 photos)</label>
                    <input type="file" id="imageUpload" name="photoFile" multiple/>
                </div>

                <button class="btn btn-success mt-2 float-end">Update campground</button>
            </form>
            <a href="/campgrounds/<%= camp.id %>" class="btn btn-primary mt-2">Back</a>
        </div>
    </div>
