<% layout('./layouts/boilerplate')%>
    <div class="row">
        <div class="col-8 offset-2">
            <h1 class="text-center">edit the camp</h1>
            <form action="/campgrounds/<%= camp._id %>?_method=PUT" method="POST" class="needs-validation"
                enctype="multipart/form-data" novalidate>
                <!-- novalidate to suppress the default validation-->
                <label class="form-label mt-3" for="title">Title</label>
                <input class="form-control border-dark-subtle" type="text" id="title" name="campground[title]"
                    value="<%= camp.title %>" required>
                <div class="invalid-feedback">
                    required
                </div>

                <label class="form-label mt-3" for="price">Price</label>
                <div class="input-group mb-3">
                    <span class="input-group-text border-dark-subtle">$</span>
                    <input type="text" class="form-control border-dark-subtle" id="price" name="campground[price]"
                        value="<%= camp.price %>" required>
                    <div class="invalid-feedback">
                        required
                    </div>
                </div>

                <label class="form-label mt-3" for="description">Description</label>
                <div class="form-floating">
                    <textarea class="form-control border-dark-subtle" id="description" name="campground[description]"
                        required><%= camp.description %></textarea>
                    <div class="invalid-feedback">
                        required
                    </div>
                </div>

                <label class="form-label mt-3" for="location">Location</label>
                <input class="form-control border-dark-subtle" type="text" id="location" name="campground[location]"
                    value="<%= camp.location %>" required>
                <div class="invalid-feedback">
                    required
                </div>

                <div>
                    <label class="form-label mt-3" for="imageUpload">Add photos (max:5 pcs)</label>
                    <input type="file" id="imageUpload" name="photoFile" multiple />
                </div>
                
                <div class="row">
                    <span class="mt-2">Delete current photo:</span>
                    <% for (let i=0; i<camp.cloudImg.length ;i++) {%>
                        <div class="col-md-6 mt-2">
                            <div class="card align-items-center" style="height: 100%;background-color: rgb(200, 200, 200);">
                                <div class="form-check">
                                    <div class="card-body">
                                        <input class="form-check-input" type="checkbox" name="deleteImg[]" value="<%=camp.cloudImg[i].filename %>" id="image<%= i %>">
                                        <!-- name="deleteImg[] the [] make deleteImg an array-->
                                        <label class="form-check-label" for="image<%= i %>">
                                            <img src="<%=camp.cloudImg[i].thumbnail %>" class="img-thumbnail">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                            <button class="btn btn-success mt-2 float-end">Update campground</button>
            </form>
            <a href="/campgrounds/<%= camp._id %>" class="btn btn-primary mt-2">Back</a>
        </div>
    </div>