<% layout('./layouts/boilerplate')%>
    <h1>My Camp index</h1>

    <% let i=1;for (camp of camps) {%>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <img src=<%= camp.cloudImg[0]?.url %> class="img-fluid" crossorigin>
                    <!-- using ? in case no image in camp.cloudImg[0]?-->
                </div>
                <div class="col-md-8">
                    <p># <%=i%> <b><%=camp.title%></b></p>
                    <p>Description: <%= camp.description%></p>
                    <a href="/campgrounds/<%=camp._id%>" class="btn btn-primary">Go to <%=camp.title%></a>
                </div>
            </div>
        </div>
    <% i++} %>
