<% layout('./layouts/boilerplate')%>
<div class="row justify-content-center">
    <div class="col col-md-8">
        <div class="card mb-3" >
            <img src=<%= camp.image %> class="card-img-top">
            <div class="card-body">
              <h5 class="card-title"><%= camp.title %></h5>
              
              <p class="card-text">
                <i><%= camp.location %></i>
                <small class="card-text text-muted float-end">$<%= camp.price %>/night</small>
            </p>
              <p class="card-text"><%= camp.description %></p>
              
              <form class="card-text" action="/campgrounds/<%= camp._id %>?_method=DELETE" method="POST">
                  <a href="/campgrounds" class="btn btn-primary float-end">Back to the list</a>
                  <a href="/campgrounds/<%= camp._id %>/edit" class="btn btn-warning float-end  mx-2">Edit</a>
                  <button class="btn btn-danger">delete</button>
              </form>
            </div>
          </div>

    </div>
</div>
