<% layout('./layouts/boilerplate')%>
    <h1><%= camp.title %></h1>
    <div>
        <ul>
            <li>price: <%= camp.price %></li>
            <li>description: <%= camp.description %></li>
            <li>location: <%= camp.location %></li>
        </ul>
    </div>
    <a href="/campgrounds/<%= camp._id %>/edit">edit</a>

    <form action="/campgrounds/<%= camp._id %>?_method=DELETE" method="POST">
        <button>delete</button>
    </form>
